.header {
    padding-top: 48px;
    padding-bottom: 20px;

    .logotype {
        @media (min-width: 1024px) {
            width: 182px;
            height: 36px;
        }
    }

    .contacts {
        display: none;
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            
            .map {
                grid-column: 3/4;
                grid-row: 1/2;
            }

            .tel {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .mail {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            &_link {
                display: grid;
                grid-template-columns: 28px 1fr;
                gap: 10px;
                color: $background_color;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
    
                picture {
                    justify-self: center;
                    align-self: center;
                }
    
                span {
                    align-self: center;
                }
            }
        }
    }

    @media (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 31px;
    }

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 182px 1fr;
        gap: 138px;
    }

    @media (min-width: 1280px) {
        gap: 265px;
    }
}