@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: $background_color;
}

.wrapper {
    max-width: 1340px;
    margin: 0 auto;

    @media (max-width: 1340px) {
        padding: 0 30px;
    }
}

@import "header";

.about_us {
    padding: 42px 0;
    color: #fff;

    &_title {
        text-transform: capitalize;
        font-size: 42px;
        text-decoration: underline;
    }

    &_description {
        font-size: 15px;
    }
}

.contacts {
    &_map_block {
        @include flex_center;

        .map {
            border-radius: 4px;
            width: 100%;
            max-width: 600px;
            min-height: 200px;
        }
    }
}

@import "footer";