main {
  padding: 0 76px;
  height: 100vh;

  section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .logo_block {
      width: 600px;
      margin-top: 40px;
      h1 {
        font-weight: 700;
        margin: 0;
        color: #100caa;
        text-transform: capitalize;
        font-size: 60px;
        line-height: 70px;
        span {
          color: #1ba80c;
        }
      }
    }

    .contacts {
      max-width: 280px;
      margin-top: 44px;
      h2 {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        color: #2e2d47;
        margin-bottom: 22px;
      }

      .map_pointer {
        width: 27px;
        height: 40px;
      }

      .phone {
        width: 26px;
        height: 43px;
      }

      .email {
        width: 32px;
        height: 24px;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 38px;
        }
        img {
          margin-right: 20px;
        }
        a {
          text-decoration: none;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #2e2d47;
        }
      }
    }
  }

  .under {
    position: absolute;
    right: 76px;
    bottom: 76px;
    width: 680px;
    height: auto;
  }
}
